# OS / Editor
Thumbs.db
Desktop.ini
.DS_Store

# Node / tooling (if you ever add them)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / cache
dist/
build/
.cache/

# IDE
.vscode/
.idea/


